@use "./variables.scss" as variables;

html *{
    font-size: variables.$global-font-size;
    font-family: arial;
}
a{
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}
nav{
    color: grey;
}
button {
    cursor: pointer;
}

%box-border {
    border-radius: 10px;
    border: solid #D7D7D7;
}

@mixin defaultButton($background-color: white, $color: black, $border: none, $width: 20%){
    width: $width;
    border-radius: 7px;
    border: $border;
    height: 45px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 15px;
    color: $color;
    background-color: $background-color;
}